@tailwind base;

@tailwind components;

@tailwind utilities;


button {
    @apply bg-white dark:bg-gray-800 dark:text-white px-4 py-2 rounded-lg border-2 border-gray-200 dark:border-gray-800 font-bold transition-opacity hover:opacity-80;
    box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.06);
}

.list-item {
  transition: all .3s;
}
.list-enter, .list-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-active {
  position: absolute;
}